@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');
/*general rules*/

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  position: relative;
  transition: background 0.9s ease-in;
  background-image: url("light_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

/*navigation bar*/

.nav {
  width: 100%;
  background-color: #643843;
  box-shadow: 2px 2px 15px #04030f;
  height: 100px;
  margin-bottom: 50px;
}

.nav ul {
  list-style-type: none;
  margin: 5px;
  color: #fffbff;
}
.nav li {
  width: 20%;
  text-align: center;
  float: left;
}

i {
  cursor: pointer;
  font-size: 25px;
}

#toggle {
  width: 70px;
}

#logo {
  cursor: default;
  font-size: 40px;
  transform: translateY(-20%);
}

li h1{
  font-size: 20px;
  transform: translateY(-50%);
}

/*content rules*/

.content {
  position: absolute;
  display: grid;
  grid-template-columns: 450px 950px;
  grid-template-rows: 550px auto;
  margin: 10px;
  padding: 10px;
  grid-gap: 15px;
  top: 100px;
  text-align: left;
  font-size: 14px;
}

.filter {
  background-color: #E7CBCB;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  grid-row: 1 / 2;
  font-size: 12px;
}

.filter h2 {
  color: #643843;
}

.filter button {
  background-color: #643843;
  color: #fffbff;
  padding: 10px;
  font-size: 15px;
  margin: 2px;
  border-radius: 15px;
  cursor: pointer;
}

/*dialogs*/

dialog {
  background-color: #E7CBCB;
  min-width: 350px;
  border: 2px solid #643843;
  font-size: 15px;
  border-radius: 20px;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: left;
}

.form_button, .submit_button {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  background-color: #643843;
  color: #fffbff;
}

.submit_button {
  background-color: firebrick;
  color: #fffbff;
}

#avatar-target {
  max-width: 15rem;
  height: auto;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  transition: 0.8s ease;
  }

dialog p {
  text-align: center;
}

#close {
  margin: 20px auto;
  color: #643843;
}

h2, h3 {
  text-align: center;
}

/*restaurant table*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-width: 300px;
  font-size: 15px;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: center;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  text-align: center;
  overflow: hidden;
  }

#menu_name, #course_label {
  width: 200px;
  padding: 10px;
}

#diet_info, #diet_label {
  width: 100px;
}

#price, #price_label {
  width: 200px;
}

.highlight {
  font-weight: bold;
  background-color: #E7CBCB;
}

.restaurantList {
  background-color: whitesmoke;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  border-radius: 20px;
  grid-row: 1 / 3;
  max-height: 580px;
  overflow: auto;
  text-align: left;
  max-width: 1200px;
}

#weekInfo, #dayInfo {
  background-color: #643843;
  color: #fffbff;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
  width: 45%;
  display: inline;
  text-align: center;
}

/*dark mode toggle*/

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #99627A;
  width: 67px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  left: 10px;
}

#sun {color: #fffbff;}

#moon {color: #04030f;}

.checkbox-label .ball {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(34px);
}

/*dark mode rules*/

body.dark {
  background-image: url('dark_background.jpg');
}
body.dark #sun{
  color:#04030f
}

body.dark #moon {
  color:#fffbff
}

body.dark .filter {
  background-color: #643843;
  color: #f0f0f0;
}

body.dark .filter h2 {
  color:#f0f0f0
}

body.dark .filter button {
  background-color: #E7CBCB;
  color: #643843;
}

body.dark .restaurantList {
  background-color: #99627A;
  color: #fffbff;
}

body.dark .form_button {
  background-color: #E7CBCB;
  color: #643843;
}

body.dark .submit_button {
    background-color: #E7CBCB;
    color: #643843;
}

body.dark th {
  background-color: #99627A;
  color: #fffbff;
}
body.dark .highlight {
  background-color: #643843;
  color: #fffbff;
}
body.dark dialog {
  background-color: #643843;
  color: #fffbff;
}

body.dark #weekInfo {
  background-color: #E7CBCB;
  color: #643843;
}
body.dark #dayInfo {
  background-color: #E7CBCB;
  color: #643843;
}

body.dark #close {
  color: #E7CBCB;
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
.nav {
  height: 100px;
}
.content {
  position: absolute;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 200px auto;
  margin: 10px;
  padding: 10px;
  grid-gap: 20px;
  top: 150px;
  text-align: left;
  font-size: 10px;
}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .nav {
    width: 100%;
  }
}

