@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;

}
body {
  margin: 0;
  position: relative;
  transition: background 0.9s ease-in;
  background-image: url("light_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

body.dark {
  background-image: url("dark_background.jpg");}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #99627A;
  width: 67px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  margin: 0;
}
#sun {color: #fffbff;}

#moon {color: #04030f;}

body.dark #sun{
  color:#04030f
}

body.dark #moon {
  color:#fffbff
}

.checkbox-label .ball {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(34px);
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

body.dark .filter {
  background-color: #643843;
  color: #f0f0f0;
}

body.dark .filter h2 {
  color:#f0f0f0
}

body.dark .filter button {
  background-color: #E7CBCB;
  color: #643843;
}
body.dark .restaurantList {
  background-color: #99627A;
  color: #fffbff;
}
dialog {
  background-color: #E7CBCB;
  min-width: 600px;
  border: 2px solid #643843;
  font-size: 20px;
  border-radius: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

form {
  margin: 0 auto;
  max-width: 700px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}


.form_button, .submit_button {
  width: 45%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px;
  display: inline;
  text-align: center;
  font-size: 20px;
  background-color: #643843;
  color: #fffbff;
}

body.dark .form_button, .submit_button {
  background-color: #E7CBCB;
  color: #643843;
}


.submit_button {
  background-color: firebrick;
  color: #fffbff;
}

#avatar-target {
  max-width: 20rem;
  height: auto;
}

.filter button {
  background-color: #643843;
  color: #fffbff;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-width: 700px;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: center;
}

body.dark th {
  background-color: #99627A;
  color: #fffbff;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  overflow: hidden;
  text-align: center;
  }

tr {
  width: 900px;
}

#menu_name, #course_label {
  width: 300px;
  padding: 10px;
}

#diet_info, #diet_label {
  min-width: 100px;
}

#price, #price_label {
  width: 200px;
}
.highlight {
  font-weight: bold;
  background-color: #E7CBCB;
}

body.dark .highlight {
  background-color: #643843;
  color: #fffbff;
}
body.dark dialog {
  background-color: #643843;
  color: #fffbff;
}

.restaurantList {
  background-color: whitesmoke;
  font-size: 20px;
  padding: 35px;
  margin: 10px;
  border-radius: 20px;
  grid-row: 1 / 3;
  height: 750px;
  overflow: auto;
  text-align: left;
}

.content {
  position: absolute;
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 700px auto;
  margin: 10px;
  padding: 10px;
  grid-gap: 20px;
  top: 150px;
  text-align: left;
}
.filter {
  background-color: #E7CBCB;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  grid-row: 1 / 2;
}

.filter h2 {
  color: #643843;
}

.nav {
  position: absolute;
  width: 100%;
  background-color: #643843;
  box-shadow: 2px 2px 15px #04030f;
  padding: 10px;
}

.nav ul {
  list-style-type: none;
  margin: auto;
  color: #fffbff;
  padding-left: 0;
}
.nav li {
  width: 20%;
  text-align: center;
  float: left;
  margin-bottom: 20px;
  transform: translateY(-20%);
}


i {
  cursor: pointer;
  margin: 30px auto;
}

#logo {
  cursor: default;
  font-size: 50px;
}

h2, h3 {
  text-align: center;
}

#weekInfo, #dayInfo {
  background-color: #643843;
  color: #fffbff;
  padding: 10px;
  font-size: 20px;
  margin: 10px 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 45%;
  display: inline;
  text-align: center;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  transition: 0.8s ease;
  }

body.dark #weekInfo {
  background-color: #E7CBCB;
  color: #643843;
}
body.dark #dayInfo {
  background-color: #E7CBCB;
  color: #643843;
}

dialog p {
  text-align: center;
}

#close {
  margin: 20px auto;
  color: #643843;
}

body.dark #close {
  color: #E7CBCB;
}




