@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

dialog {
  background-color: antiquewhite;
  width: 400px;
  border: 2px solid grey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

form {
  margin: 0 auto;
  max-width: 700px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: firebrick;
  color: #fff;
  cursor: pointer;
}

#avatar-target {
  max-width: 20rem;
  height: auto;
}
button {
  background-color: darkorange;
  padding: 5px;
  font-size: 20px;
}
